@import "../../styles/sass/mixins";

.overlay {
  position: absolute;
  width: 100vw;
  height: 200vh;
  top: 0;
  left: 0;
  background: $secondaryBg;
  opacity: 0.5;
}

.container {

  .modal {
    //max-width: 500px;
    //max-height: 400px;
    width: 50vw;
    height: 40vh;
    position: absolute;
    text-align: center;
    z-index: 1000;

    border-radius: 20px;
    border: 1px solid $secondaryBg;
    background: $secondaryBg;
    top: 50%;
    left: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    transform: translate(-50%, -50%);
    animation-name: rotate;
    animation-duration: 0.9s;

    @keyframes rotate {
      0% {
        transform: perspective(600px) translate(-50%, -50%) rotateY(-180deg)
      }
      100% {
        transform: perspective(600px) translate(-50%, -50%) rotateY(0)
      }
    }

    & img {
      position: absolute;
      top: 10px;
      left: 98%;
      transform: translate(-98%);
    }

    & h1 {
      @include text(1rem, bold, $titleText);
      text-transform: uppercase;
    }

    .message {
      @include serverMsg($message);
    }

    .error {
      @include serverMsg($error);
    }

    & .button {
      position: relative;
      top: 50%;
    }

  }

}
